/* css/style.css */

.program-card {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-in-out;
  will-change: opacity, transform;
}

.program-card.visible {
  opacity: 1;
  transform: translateX(0);
}
